.todo-list-page {
    display: flex;

    .section-left {
        width: 200px;
    }

    .section-right {
        flex: 1;
        padding: 0 16px;
        box-sizing: border-box;

        & > nav {
            margin-bottom: 16px;
        }

        .notes-wrapper {
            ul {
                padding: 0px;

                li {
                    list-style-type: none;
                    padding: 16px;
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    margin-bottom: 8px;
                    cursor: pointer;
                    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.6);
                    }
                }

                .dot {
                    width: 20px;
                    height: 20px;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    cursor: pointer;
                    background-color: #fafafa;
                }

                .text {
                    user-select: none;
                }
            }
        }
    }
}