.drum-kit-page {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .drum-box {
        width: 118px;
        height: 95px;
        box-sizing: border-box;
        border: 5px solid black;
        background-color: rgba(0,0,0,0.4);
        border-radius: 4px;

        .key {
            color: white;
            font-size: 30px;
            font-weight: 700;
        }

        .name {
            color: rgb(255, 198, 0);
        }
    }

    .playing{
        transform: scale(1.1);
        border-color: rgb(255, 198, 0);
        box-shadow: rgb(255, 198, 0) 0px 0px 1rem;
    }
}