// 使menu可以完全收起
.ant-menu li.ant-menu-item {
  padding: 0;

  & > span {
    margin-left: 16px;
  }
}


// 修改激活状态的分页器
.ant-pagination-item-active {
  border-color: black;

  &:hover {
    border-color: black;
  }

  a {
    color: black;
    &:hover {
      color: black;
    }
  }
}