.parabola {
    background-color: #C1A3A3;
    
    .ball {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #F9E4D4;
        // animation-timing-function: cubic-bezier(.55, 0, .85, .36);
        animation: bounce 3s infinite ease-in-out;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0px);
        }

        25% {}

        50% {
            transform: translateY(100px);
        }

        100% {
            transform: translateY(0px);
        }

    }
}